[Unit]
Description=URL shortening service

[Service]
Type=simple
ExecStart={execPath}
Restart=always
RestartSec=3
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={indentifier}

[Install]
WantedBy=multi-user.target
